{{- $showTags := .tags }}
{{- with .pages }}
<ol class="story-list" reversed>
  {{- range .ByDate.Reverse }}
  <li>
    <a href="{{ .RelPermalink }}">
      <h3>{{ .Title }}</h3>
      <p class="meta">
        <span>{{ .Date.Format "Jan 2006" }}</span>
        {{- if $showTags }}{{ with .Params.tags }}<span>{{ range $i, $t := . }}{{ if $i }} {{ end }}#{{ $t | lower }}{{ end }}</span>{{ end }}{{ end }}
        <span>{{ .ReadingTime }} min</span>
        {{- if .Draft }}<span><em>draft</em></span>{{ end }}
      </p>
    </a>
  </li>
  {{- end }}
</ol>
{{- else }}
<p class="empty">Nothing here yet.</p>
{{- end }}
